/*
 * Every class name will be hashed so it can be used their own component scoped
 * Use classes instead of ids
 */

.command {
    background-color: #f0f0f0;
    margin-bottom: 1em
}

.input {
    width: min-content;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 0 0.5em
}

.output {
    border: 1px solid #e0e0e0;
    box-shadow: 1px 2px 2px #888888;
    padding: 0.5em
}

.input,.output {
    height: 100%
}

.commandline {
    white-space: pre;
    font-family: monospace
}
