/*
 * Every class name will be hashed so it can be used their own component scoped
 * Use classes instead of ids
 */

.command {
    background-color: #f0f0f0;
    margin-bottom: 1em;
}

.input,.output {
    height: 100%;
    border: 2px solid #e0e0e0;
}

.input {
    width: min-content;
    border-bottom: 0;
    padding: 0.5em;
    box-shadow: 1px 1px 2px #888888;
}

.output {
    padding: 0.5em;
    box-shadow: 1px 1px 2px #888888;
}

.commandline {
    white-space: pre;
    font-family: monospace;
}
