/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here, it requires to use :global before each style
 */
:global body {
    background-color: #f0f0f0;
}
:global #app {
    max-width: 600px;
}
